# Gathering

In [9]:
import pandas as pd
import requests
import os

In [24]:
r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
with open (os.path.join(os.curdir,'image_predictions.tsv'), mode='wb') as file:
    file.write(r.content)

In [31]:
df1 = pd.read_csv('twitter-archive-enhanced.csv')
df2 = pd.read_csv('image_predictions.tsv',sep='\t')
df3 = pd.read_json('tweet-json.txt',lines=True)

# Assessing

### quality assures
- renaming columns (p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3,p3_conf, p3_dog) to (algo_A_prediction, algo_A_confident, algo_A_dog?, algo_B_prediction, algo_B_confident, algo_B_dog?, algo_C_prediction, algo_C_confident, algo_C_dog?)

- Dropping unwanted columns that i'm not going to use in my analysis and visualization. from df1(in_reply_to_status_id,	in_reply_to_user_id, source,	text,	retweeted_status_id,	retweeted_status_user_id,	retweeted_status_timestamp,	expanded_urls), from df2(jpg_url, img_num), from df3('contributors', 'coordinates', 'created_at', 'display_text_range','entities', 'extended_entities', 'favorited','full_text', 'geo', 'id_str', 'in_reply_to_screen_name','in_reply_to_status_id', 'in_reply_to_status_id_str','in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status','lang', 'place', 'possibly_sensitive', 'possibly_sensitive_appealable','quoted_status', 'quoted_status_id', 'quoted_status_id_str', 'retweeted', 'retweeted_status', 'source', 'truncated','user')
       
- merge the rating_denominator and rating_numerator to get the percentage rating

- change the id type from int to string in all the dfs

- change the timestamp to date

- fix all the rows with rating_denominator > 10 or < 10

- 
### tidyness
- type of dogs should be in 1 column.
- merge all df to one df

In [86]:
df1.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [87]:
df2.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [88]:
df3.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,possibly_sensitive_appealable,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",39467,False,This is Phineas. He's a mystical boy. Only eve...,NaN,...,0.0,NaN,NaN,NaN,8853,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,NaN,NaN,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",33819,False,This is Tilly. She's just checking pup on you....,NaN,...,0.0,NaN,NaN,NaN,6514,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,NaN,NaN,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",25461,False,This is Archie. He is a rare Norwegian Pouncin...,NaN,...,0.0,NaN,NaN,NaN,4328,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,NaN,NaN,2017-07-30 15:58:51,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",42908,False,This is Darla. She commenced a snooze mid meal...,NaN,...,0.0,NaN,NaN,NaN,8964,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,NaN,NaN,2017-07-29 16:00:24,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",41048,False,This is Franklin. He would like you to stop ca...,NaN,...,0.0,NaN,NaN,NaN,9774,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [89]:
df1.shape[0]

2356

In [58]:
df3.shape[0]

2354

In [90]:
df2.shape[0]

2075

In [62]:
df3.columns

Index(['contributors', 'coordinates', 'created_at', 'display_text_range',
       'entities', 'extended_entities', 'favorite_count', 'favorited',
       'full_text', 'geo', 'id', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status',
       'lang', 'place', 'possibly_sensitive', 'possibly_sensitive_appealable',
       'quoted_status', 'quoted_status_id', 'quoted_status_id_str',
       'retweet_count', 'retweeted', 'retweeted_status', 'source', 'truncated',
       'user'],
      dtype='object')

In [64]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [65]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [67]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 31 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       2354 non-null datetime64[ns]
display_text_range               2354 non-null object
entities                         2354 non-null object
extended_entities                2073 non-null object
favorite_count                   2354 non-null int64
favorited                        2354 non-null bool
full_text                        2354 non-null object
geo                              0 non-null float64
id                               2354 non-null int64
id_str                           2354 non-null int64
in_reply_to_screen_name          78 non-null object
in_reply_to_status_id            78 non-null float64
in_reply_to_status_id_str        78 non-null float64
in_reply_to_user_id              78 non-null float64
in_reply_to_user_id_str          78 non-null float64
is_quote_status                  2354 non-null bool
lang                             2354 non-null object
place                            1 non-null object
possibly_sensitive               2211 non-null float64
possibly_sensitive_appealable    2211 non-null float64
quoted_status                    28 non-null object
quoted_status_id                 29 non-null float64
quoted_status_id_str             29 non-null float64
retweet_count                    2354 non-null int64
retweeted                        2354 non-null bool
retweeted_status                 179 non-null object
source                           2354 non-null object
truncated                        2354 non-null bool
user                             2354 non-null object
dtypes: bool(4), datetime64[ns](1), float64(11), int64(4), object(11)
memory usage: 505.8+ KB

In [91]:
df1.query('rating_denominator < 10')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
313,835246439529840640,8.352460e+17,26259576.0,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
516,810984652412424192,NaN,NaN,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Sam. She smiles 24/7 &amp; secretly aspir...,NaN,NaN,NaN,"https://www.gofundme.com/sams-smile,https://tw...",24,7,Sam,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None

In [92]:
df1.query('rating_denominator > 10')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The floofs have been released I repeat the flo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/820690176...,84,70,None,None,None,None,None
784,775096608509886464,NaN,NaN,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: After so many requests, this is...",7.403732e+17,4.196984e+09,2016-06-08 02:41:38 +0000,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
902,758467244762497024,NaN,NaN,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Why does this never happen at my front door......,NaN,NaN,NaN,https://twitter.com/dog_rates/status/758467244...,165,150,None,None,None,None,None
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...","After so many requests, this is Bretagne. She ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to this unbelievably well behaved sq...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023...,204,170,this,None,None,None,None
1165,722974582966214656,NaN,NaN,2016-04-21 02:25:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy 4/20 from the squad! 13/10 for all https...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/722974582...,4,20,None,None,None,None,None
1202,716439118184652801,NaN,NaN,2016-04-03 01:36:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bluebert. He just saw that both #Final...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716439118...,50,50,Bluebert,None,None,None,None
1228,713900603437621249,NaN,NaN,2016-03-27 01:29:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Saturday here's 9 puppers on a bench. 99...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713900603...,99,90,None,None,None,None,None
1254,710658690886586372,NaN,NaN,2016-03-18 02:46:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a brigade of puppers. All look very pre...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710658690...,80,80,None,None,None,None,None
1274,709198395643068416,NaN,NaN,2016-03-14 02:04:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...","From left to right:\nCletus, Jerome, Alejandro...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/709198395...,45,50,None,None,None,None,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845...,60,50,a,None,None,None,None
1433,697463031882764288,NaN,NaN,2016-02-10 16:51:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Wednesday here's a bucket of pups. 44/40...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697463031...,44,40,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Two sneaky puppers were not initially seen, mo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684225744...,143,130,None,None,None,None,None
1635,684222868335505415,NaN,NaN,2016-01-05 04:00:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Someone help the girl is being mugged. Several...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684222868...,121,110,None,None,None,None,None
1662,682962037429899265,NaN,NaN,2016-01-01 16:30:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darrel. He just robbed a 7/11 and is i...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682962037...,7,11,Darrel,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",IT'S PUPPERGEDDON. Total of 144/120 ...I think...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515...,144,120,None,None,None,None,None
1843,675853064436391936,NaN,NaN,2015-12-13 01:41:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have an entire platoon of puppers. Tot...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675853064...,88,80,None,None,None,None,None

# Cleaning

In [79]:
df3.drop(['contributors', 'coordinates', 'created_at', 'display_text_range',
       'entities', 'extended_entities', 'favorited',
       'full_text', 'geo', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status',
       'lang', 'place', 'possibly_sensitive', 'possibly_sensitive_appealable',
       'quoted_status', 'quoted_status_id', 'quoted_status_id_str'
       , 'retweeted', 'retweeted_status', 'source', 'truncated',
       'user'],axis=1)

      favorite_count                  id  retweet_count
0              39467  892420643555336193           8853
1              33819  892177421306343426           6514
2              25461  891815181378084864           4328
3              42908  891689557279858688           8964
4              41048  891327558926688256           9774
5              20562  891087950875897856           3261
6              12041  890971913173991426           2158
7              56848  890729181411237888          16716
8              28226  890609185150312448           4429
9              32467  890240255349198849           7711
10             31166  890006608113172480           7624
11             28268  889880896479866881           5156
12             38818  889665388333682689           8538
13             27672  889638837579907072           4735
14             15359  889531135344209921           2321
15             25652  889278841981685760           5637
16             29611  888917238123831296           4709
17             26080  888804989199671297           4559
18             20290  888554962724278272           3732
19             22201  888078434458587136           3653
20             30779  887705289381826560           5609
21             46959  887517139158093824          12082
22             69871  887473957103951883          18781
23             34222  887343217045368832          10737
24             31061  887101392804085760           6167
25             35859  886983233522544640           8084
26             12306  886736880519319552           3443
27             22798  886680336477933568           4610
28             21524  886366144734445568           3316
29               117  886267009285017600              4
...              ...                 ...            ...
2324             459  666411507551481857            339
2325             113  666407126856765440             44
2326             172  666396247373291520             92
2327             194  666373753744588802            100
2328             804  666362758909284353            595
2329             229  666353288456101888             77
2330             307  666345417576210432            146
2331             204  666337882303524864             96
2332             522  666293911632134144            368
2333             152  666287406224695296             71
2334             184  666273097616637952             82
2335             108  666268910803644416             37
2336           14765  666104133288665088           6871
2337              81  666102155909144576             16
2338             164  666099513787052032             73
2339             169  666094000022159362             79
2340             121  666082916733198337             47
2341             335  666073100786774016            174
2342             154  666071193221509120             67
2343             496  666063827256086533            232
2344             115  666058600524156928             61
2345             304  666057090499244032            146
2346             448  666055525042405380            261
2347            1253  666051853826850816            879
2348             136  666050758794694657             60
2349             111  666049248165822465             41
2350             311  666044226329800704            147
2351             128  666033412701032449             47
2352             132  666029285002620928             48
2353            2535  666020888022790149            532

[2354 rows x 3 columns]

In [83]:
df1.drop(['in_reply_to_status_id', 'in_reply_to_user_id',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name'],axis=1)

,tweet_id,timestamp,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27 +0000,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03 +0000,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51 +0000,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24 +0000,None,None,None,None
5,891087950875897856,2017-07-29 00:08:17 +0000,None,None,None,None
6,890971913173991426,2017-07-28 16:27:12 +0000,None,None,None,None
7,890729181411237888,2017-07-28 00:22:40 +0000,None,None,None,None
8,890609185150312448,2017-07-27 16:25:51 +0000,None,None,None,None
9,890240255349198849,2017-07-26 15:59:51 +0000,doggo,None,None,None
10,890006608113172480,2017-07-26 00:31:25 +0000,None,None,None,None
11,889880896479866881,2017-07-25 16:11:53 +0000,None,None,None,None
12,889665388333682689,2017-07-25 01:55:32 +0000,None,None,None,puppo
13,889638837579907072,2017-07-25 00:10:02 +0000,None,None,None,None
14,889531135344209921,2017-07-24 17:02:04 +0000,None,None,None,puppo
15,889278841981685760,2017-07-24 00:19:32 +0000,None,None,None,None
16,888917238123831296,2017-07-23 00:22:39 +0000,None,None,None,None
17,888804989199671297,2017-07-22 16:56:37 +0000,None,None,None,None
18,888554962724278272,2017-07-22 00:23:06 +0000,None,None,None,None
19,888202515573088257,2017-07-21 01:02:36 +0000,None,None,None,None
20,888078434458587136,2017-07-20 16:49:33 +0000,None,None,None,None
21,887705289381826560,2017-07-19 16:06:48 +0000,None,None,None,None
22,887517139158093824,2017-07-19 03:39:09 +0000,None,None,None,None
23,887473957103951883,2017-07-19 00:47:34 +0000,None,None,None,None
24,887343217045368832,2017-07-18 16:08:03 +0000,None,None,None,None
25,887101392804085760,2017-07-18 00:07:08 +0000,None,None,None,None
26,886983233522544640,2017-07-17 16:17:36 +0000,None,None,None,None
27,886736880519319552,2017-07-16 23:58:41 +0000,None,None,None,None
28,886680336477933568,2017-07-16 20:14:00 +0000,None,None,None,None
29,886366144734445568,2017-07-15 23:25:31 +0000,None,None,pupper,None
...,...,...,...,...,...,...
2326,666411507551481857,2015-11-17 00:24:19 +0000,None,None,None,None
2327,666407126856765440,2015-11-17 00:06:54 +0000,None,None,None,None
2328,666396247373291520,2015-11-16 23:23:41 +0000,None,None,None,None
2329,666373753744588802,2015-11-16 21:54:18 +0000,None,None,None,None
2330,666362758909284353,2015-11-16 21:10:36 +0000,None,None,None,None
2331,666353288456101888,2015-11-16 20:32:58 +0000,None,None,None,None
2332,666345417576210432,2015-11-16 20:01:42 +0000,None,None,None,None
2333,666337882303524864,2015-11-16 19:31:45 +0000,None,None,None,None
2334,666293911632134144,2015-11-16 16:37:02 +0000,None,None,None,None
2335,666287406224695296,2015-11-16 16:11:11 +0000,None,None,None,None
2336,666273097616637952,2015-11-16 15:14:19 +0000,None,None,None,None
2337,666268910803644416,2015-11-16 14:57:41 +0000,None,None,None,None
2338,666104133288665088,2015-11-16 04:02:55 +0000,None,None,None,None
2339,666102155909144576,2015-11-16 03:55:04 +0000,None,None,None,None
2340,666099513787052032,2015-11-16 03:44:34 +0000,None,None,None,None
2341,666094000022159362,2015-11-16 03:22:39 +0000,None,None,None,None
2342,666082916733198337,2015-11-16 02:38:37 +0000,None,None,None,None
2343,666073100786774016,2015-11-16 01:59:36 +0000,None,None,None,None
2344,666071193221509120,2015-11-16 01:52:02 +0000,None,None,None,None
2345,666063827256086533,2015-11-16 01:22:45 +0000,None,None,None,None
2346,666058600524156928,2015-11-16 01:01:59 +0000,None,None,None,None
2347,666057090499244032,2015-11-16 00:55:59 +0000,None,None,None,None
2348,666055525042405380,2015-11-16 00:49:46 +0000,None,None,None,None
2349,666051853826850816,2015-11-16 00:35:11 +0000,None,None,None,None
2350,666050758794694657,2015-11-16 00:30:50 +0000,None,None,None,None
2351,666049248165822465,2015-11-16 00:24:50 +0000,None,None,None,None
2352,666044226329800704,2015-11-16 00:04:52 +0000,None,None,None,None
2353,666033412701032449,2015-11-15 23:21:54 +0000,None,None,None,None
2354,666029285002620928,2015-11-15 23:05:30 +0000,None,None,None,None
2355,666020888022790149,2015-11-15 22:32:08 +0000,None,None,None,None

In [82]:
df1.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [ ]:
df2.drop()